{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for trans in transactions %}
            <tr>
                <td>{{ trans.symbol }}</td>
                <td>{{ trans.shares }}</td>
                <td>{{ trans.price | usd }}</td>
                <td>{{ trans.time }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock %}